.login-form {
  background-image: url(./bg.png);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}



.login__header h1 {
  color: #333;
  font-size: 1.5em;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #00b5cc;
  border: 3px solid #b2df28;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

.botao-voltar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent; /* Cor de fundo do botão */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .botao-voltar img {
  width: 70%; /* Tamanho do ícone do WhatsApp */
  } 